<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Search Past Launches</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/SearchPastLaunchesTwo.css">
        <link rel="stylesheet" href="/css/jquery-ui.min.css">
    </head>
    <body>
        <div class="container">
            <form method="post" action="/Home">
                <button id="backBtn" class="btn-light btn-lg" type="submit" value="Home" name="action">Home</button>
            </form>
            <h2>Search Past Launches</h2>
            <form method="post" th:action="@{/SearchLaunch}" th:object="${launch}">
                <div class="form-group">
                    <div class='row'>
                        <div class='col-md-2'>
                            <div class="form-group field">
                                <label for="name">Name</label>
                                <input type="text" id="name" name="rocket.name" class="form-control box" th:value="${launch.rocket.name}">
                            </div>
                            <div class="form-group field">
                                <label for="engine">Engine</label>
                                <select id="engine" name="rocket.engine.engineId" class="form-control box">
                                    <option value="-1" th:selected="${launch.location.locationId} == -1">-</option>
                                    <option th:each="engine: ${engines}" th:value="${engine.engineId}" th:text="${engine.name}" th:selected="${launch.rocket.engine.engineId} == ${engine.engineId}">Engine Name</option>
                                </select>
                            </div>
                            <div class="form-group field">
                                <label for="body">Body</label>
                                <select id="body" name="rocket.body.bodyId" class="form-control box">
                                    <option value="-1" th:selected="${launch.location.locationId} == -1">-</option>
                                    <option th:each="body: ${bodies}" th:value="${body.bodyId}" th:text="${body.name}" th:selected="${launch.rocket.body.bodyId} == ${body.bodyId}">Body Name</option>
                                </select>
                            </div>
                            <div class="form-group field">
                                <label for="fuel">Fuel type</label>
                                <select id="fuel" name="rocket.fuel.fuelId" class="form-control box">
                                    <option value="-1" th:selected="${launch.location.locationId} == -1">-</option>
                                    <option th:each="fuel: ${fuels}" th:value="${fuel.fuelId}" th:text="${fuel.name}" th:selected="${launch.rocket.fuel.fuelId} == ${fuel.fuelId}">Fuel Name</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <div class="form-group field">
                                <label for="distance">Distance(Meters)</label>
                                <input type="number" id="distance" name="distance" class="form-control box" step="0.1" th:value="${launch.distance}">
                            </div>
                            <div class="form-group field">
                                <label for="location">Location</label>
                                <select id="location" name="location.locationId" class="form-control box">
                                    <option value="-1" th:selected="${launch.location.locationId} == -1">-</option>
                                    <option th:each="location: ${locations}" th:value="${location.locationId}" th:text="${location.name}" th:selected="${launch.location.locationId} == ${location.locationId}">Location Name</option>
                                </select>
                            </div>
                            <div class="form-group field">
                                <label for="datePicker">Date</label>
                                <input type="text" id="datePicker" name="date" class="form-control box" th:value="${date}">
                            </div>
                            <div class="form-group field">
                                <label for="angle">Launch Angle(Degrees)</label>
                                <input type="number" id="angle" name="angle" class="form-control box" step="0.1" th:value="${launch.angle}">
                            </div>
                        </div>
                        <div class='col-md-8'>
                            <h3>Search results</h3>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>                                
                                        <th>Engine</th>
                                        <th>Body</th>
                                        <th>Fuel</th>
                                        <th>Distance(Meters)</th>
                                        <th>Location</th>
                                        <th>Date</th>
                                        <th>Launch Angle(Degrees)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="result: ${results}">
                                        <td th:text="${result.rocket.name}">Name</td>
                                        <td th:text="${result.rocket.engine.name}">Engine</td>
                                        <td th:text="${result.rocket.body.name}">Body</td>
                                        <td th:text="${result.rocket.fuel.name}">Fuel</td>
                                        <td th:text="${result.distance}">Distance(Meters)</td>
                                        <td th:text="${result.location.name}">Location</td>
                                        <td th:text="${result.date}">Date</td>
                                        <td th:text="${result.angle}">Angle(Degrees)</td>
                                        <td><button class = "btn-light btn" type="submit" th:value="${result.launchId}" name="action">Play</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group searchDiv bottomRow">
                        <button id="searchBtn" class="btn-lg btn-primary" type="submit" value="submit" name="action">Update Results</button>
                    </div>
                </div>
            </form>
        </div>
        <script src = "/js/jquery-3.3.1.min.js"></script>
        <script src = "/js/bootstrap.min.js"></script>
        <script src = "/js/jquery-ui.min.js"></script>
        <script src = "/js/SearchPastLaunchesTwo.js"></script>
    </body>
</html>
